* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: "Roboto Mono";
    src: url(font/RobotoMono-Regular.ttf) format("tff");
}

html, body {
    font-family: "Roboto Mono";
    font-weight: bold;
}

.container {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.score-board {
    position: absolute;
    font-size: 50px;
    top:30px;
}

.icon-container {
    display: inline-flex;
    position: absolute;
}

.icon-container.guest {
    top: 230px;
}

.icon-container.home {
    bottom: 100px;
}

.icon {
    height: 100px;
    margin: 0 10px 0 10px;
    transform: scale(1);
}

.icon:hover {
    transform: scale(1.5);
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.5s;
}

.result {
    position: absolute;
    font-size: 30px;
    top: 57%;
}

.team {
    font-size: 30px;
}

.team.home {
    position: absolute;
    bottom:30px;
}

.team.guest {
    position: absolute;
    top:150px;
}

